html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

body {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1633;
  font-size: 1em;
}
img {
  border-radius: 4px;
  width: 100%;
  margin-top: auto;
}

nav ol {
  list-style-type: none;
  margin: 1.5em;
  padding: 1em;
  text-decoration-color: #8f2440;

}

nav a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color:#8f2440;
  font-size: .8em;
}

nav a:hover {
  color: #3f1622;
  border-bottom: 3px dotted #3f1622;
}

figcaption {
  font-size: .8em;
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

.harvest {
  font-weight: bold;
}

.talltext {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-style: italic;
}

.chris{
  font-size: 0.6em;
}

h2{
  font-family: "PT Sans", sans-serif;
  color:#222;
  font-size: 1em;
}

.albino{
  list-style: lower-greek;
  font-size: .8em;
}

.serving{
  font-style: italic;

}

section dl dt{
  font-weight: bold;
  font-size: .8em;
}

aside ul li{
  list-style: circle;
}
